// Footer code
.footer_sub {
    height: 50vh;
    background-color: #555;
}
.footer_main {
    position: relative;
    background-color: $color-dark-grey-3;
    height: 80vh;
}
.footer_last {
    position: relative;
    height: 10vh;
    background-color: #111;
}
