// page nav code here


.navigation {
    position: sticky;
    top: 0;
    z-index: 2000;
    width: 100%;
    background-color: $color-white;
    height: 6rem;
    display: flex;

    @include respond(tab-port) {
        display: block;
        position: relative;
    }

    &_container {
        flex-grow: 1;
        overflow: hidden;
        backface-visibility: hidden;

        @include respond(tab-port) {
            height: 0rem;
            background-color: $color-white;
            flex-grow: 0;
            opacity: 0;
            margin-right: 0;
            transition: height .3s !important;
        }
    }
    &_ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
        margin-right: 2rem;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
            display: block;
            margin-right: 0rem;
            background-color: $color-white;
        }
    }
    &_li {
        margin-left: 1rem;
        display: inline;
        height: 100%;
        text-align: center;
        padding-top: 1.5rem;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            text-align: center;
            padding: 1.5rem 0rem;
        }
    }
    &_link:link, &_link:visited {
        padding: 1rem;
        border-radius: 5px;
        color: rgba($color-black, 0.7);
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 0.3s;
    }

    &_li:hover &_link, &_link:focus {
        // background-color: $color-primary-light;
        // color: $color-white !important;
        outline: none;
        background-image: $color-gradient;
        color: $color-dark-grey-3;
    }
}
.logo_box {
    flex-grow: 1;
    height: 100%;
}
.active {
    color: $color-black !important;
}

.nav_btn {
    position: absolute;
    right: 1rem;
    display: none;
    font-size: 2.5rem;
    padding: 1.1rem 1.5rem 0rem;

    @include respond(tab-port) {
        display: block;
    }
}
.nav_checkbox {
    display: none;
}
.nav_checkbox:checked + .navigation_container {
    opacity: 1;
    height: 25rem;
}
