.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.2rem 1.7rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        transition: all .2s;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;

        &::-webkit-input-placeholder {
            color: $color-dark-grey-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
               border-bottom: 3px solid orange;
            }
    }

    &__label {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 1.7rem;
        margin-top: .7rem;
        display: block;
        transition: all .2s;
    }
    // + Adjacent sibling selector
    // ~ General sibling selector
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
